#contact
  #photo
  #mediaLinks.fa
    #linkedin.bg
      = link_to "https://www.linkedin.com/in/michael-reed-6b524b108", target: "_blank" do
        .fa-linkedin-square
    #twitter.bg
      = link_to "https://twitter.com/myk27x", target: "_blank" do
        .fa-twitter-square
    #medium
      = link_to "https://medium.com/@myk27x", target: "_blank" do
        .fa-medium
    #github.bg
      = link_to "https://github.com/myk27x",  target: "_blank" do
        .fa-github-square
    #email.bg-alt-email
      = link_to_modal email_path do
        .fa-envelope
    #phone.bg
      %a{href: "tel: +17274235459"}
        .fa-phone-square
    #resume.bg-alt-resume
      .corner
      = link_to "http://bit.ly/230PcSQ", target: "_blank" do
        .fa-file-text
