.intro#about Who am I?
#whoAmI
  .holder
    .spacer
    #name Michael Reed
  .blurb= render "blurb"

.intro#projects Projects
.project
  - @projects.each do |project|
    .left-display
      .image{ style: "background-image: url('#{project.image}')"}
        .title= project.title
    .about
      .description
      .links
        - if true
          See this project
          = link_to 'live', '#', target: "_blank"
          or
        -else
          This project is not live, but to
        view the
        = link_to 'code', "#", target: "_blank"
        on GitHub
