#header
  = render "navbar"
  = render "me"
#main
  = render "who"
#footer
  = link_to_modal login_path do
    #login

  - if current_user
    %div{style: 'width: 400px'} LOGGED IN
  - else
    %div{style: 'width: 400px'} LOGGED OUT

  = link_to logout_path do
    #logout
