#header
  = render "navbar"
  #container
    %h1#welcome WELCOME!
    #name I'm Michael
    #subName Ruby on Rails Developer
  #acknowledgement
    background courtesy of
    = link_to "@acatris", "http://acatris.deviantart.com/", target: "_blank"

#main
  = render "projects"
  = render "who"
#footer
  = render "me"
