#email-wrapper

  #thanks
    %h1 Thanks for visiting!
    %h3
      Use this form to send me an email
      %br and I'll get back with you as soon as possible!

    -# Use as default when working on emailer
    -# %h2{ style: "color: red;"} This section is under construction
    -# %h4
    -#   Please press the escape button
    -#   %br and view my resume for contact info


  #email-form
    %br
    =form_for @email do |f|
      = f.text_field :name, placeholder: "Name"
      = f.text_field :email, placeholder: "email"
      = f.text_field :company, placeholder: "Company (if applicable)"
      = f.text_field :subject, placeholder: "Subject:"
      = f.text_area :reply, placeholder: "What would you like to say to me?"
      #send.button send
      %br
      %br

:javascript
  function closeModal() {
  $('.close-modal').click();
  }

  function delayModalClose() {
  window.setTimeout(closeModal, 2200);
  }

  $('#send').click(function(){
  var params = $('form').serialize();
  $.post('/email', params);
  $('.close-modal, #send, form, #thanks h3').hide(700);
  delayModalClose();
  $('#thanks h1').text(" Message away!").css('color', 'green')
  })
